.header-toolbar {
  background-color: #3c3b34;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  gap: 12px;
}

nav {
  display: flex;
  gap: 16px;
  margin: 0 auto;

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white !important;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 6px 12px; /* Agregar algo de padding para que el borde redondeado sea visible */

    &:hover {
      color: #ff6b6b; // Nucleoo's accent color
      transform: scale(1.05); // Slight scaling effect
    }

    mat-icon {
      margin-right: 4px;
    }
  }

  /* Estilo para el enlace activo */
  a.active {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo más oscuro cuando está activo */
    color: #ff6b6b; /* Color para el texto activo */
    border-radius: 12px; /* Bordes redondeados */
  }
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
/* Responsive para móviles */
@media (max-width: 600px) {
  .app-title {
    display: none;
  }

  .header-toolbar {
    padding: 0 8px;
  }

  .logo {
    height: 28px;
  }

  .left-nav {
    gap: 6px;
  }

  nav {
    gap: 8px;
  }

  a {
    padding: 6px 12px; /* Mantener el padding igual para la consistencia */
    font-size: 0.875rem; /* Mantener el tamaño de la letra igual en móviles */
    gap: 4px;
  }

  a mat-icon {
    font-size: 16px;
  }
}